@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  @apply inline-flex items-center px-4 py-2 border text-sm font-medium rounded-md text-gray-700 bg-gray-50 hover:border-blue-300 cursor-pointer;
}

.checkout-section-header-active {
  @apply text-lg font-medium text-gray-900;
}

.checkout-section-container {
  @apply bg-white rounded p-4 border;
}

.primary-button {
  @apply max-w-xs w-full bg-blue-500 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-white hover:bg-blue-600 focus:outline-none;
}

.link {
  @apply text-sm text-blue-600 hover:text-blue-500;
}

input[type='text'],
input[type='email'],
select {
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input[type='text']:focus,
input[type='email']:focus,
select:focus {
  border-color: #6366f1;
}

/* CSS for submit button */
button[type='submit'] {
  background-color: #6366f1;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-in-out;
}

button[type='submit']:hover {
  background-color: #4f46e5;
}